<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="my.mavenized.herolanguage.updatesite.target" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.source.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.platform.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.platform.ide" version="4.5.2.M20160212-1500"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.11.2.v20160212-1500"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.2.v20160208-0841"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.3.2.v20160209-0349"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.12.0.v20151130-0157"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.2.v20160212-1500"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.8.3.v201512160556"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.8.3.v201512160634"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.9.1.v201512180746"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.9.1.v201512180746"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/"/>
</location>
</locations>
</target>
